<div class="row spacer">

  <div class="col-12">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-2">
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{field}}
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" (click)="selectInputType('email')">Email</a>
            <a class="dropdown-item" (click)="selectInputType('username')">Username</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <input class="form-control" name="inputValue" [(ngModel)]="value" >
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary" (click)="searchUser()">Search</button>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
<hr>
