<div class="content">
  <div class="container">
    <!-- end row -->
    <div class="row" #removable>
      <div class="col-lg-4" *ngFor="let blockedUserConnection of blockedUserConnections">
        <div class="text-center card-box removable-{{blockedUserConnection?.connection?.id}}">
          <div class="member-card pt-2 pb-2">
            <div class="thumb-lg member-thumb mx-auto"><img src="{{blockedUserConnection?.connection?.profileImagePath}}" class="rounded-circle img-thumbnail" alt="profile-image"></div>
            <div class="">
              <h4>{{blockedUserConnection?.connection?.firstName}} {{blockedUserConnection?.connection?.surname}}</h4>
              <p>Email: {{blockedUserConnection?.connection?.email}}</p>
              <p class="text-muted">@Founder <span>| </span><span><a href="#" class="text-pink">websitename.com</a></span></p>
            </div>
            <button type="button" class="btn btn-success mt-3 btn-warning waves-effect w-md waves-light" (click)="unblock(blockedUserConnection?.connection?.id)">Unblock Connection</button>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
  </div>
  <!-- container -->
</div>
