<div class="container db-social">
  <div class="jumbotron jumbotron-fluid"></div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-11">
        <div class="widget head-profile has-shadow">
          <div class="widget-body pb-0">
            <div class="row d-flex align-items-center">
              <!--<div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                <ul>
                  <li>
                    <div class="counter">246</div>
                    <div class="heading">Friends</div>
                  </li>
                  <li>
                    <div class="counter">30</div>
                    <div class="heading">Online</div>
                  </li>
                  <li>
                    <div class="counter">216</div>
                    <div class="heading">Offline</div>
                  </li>
                </ul>
              </div>-->
              <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                <div class="image-default">
                  <img class="rounded-circle" src="{{userProfile?.profileImagePath}}" alt="...">
                </div>
                <div class="infos">
                  <h2>{{userProfile?.firstName}} {{userProfile?.surname}}</h2>
                  <div class="location">Las Vegas, Nevada, U.S.</div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
                <div class="follow">
                  <a class="btn btn-shadow" href="#"><i class="la la-user-plus"></i>Add Friend</a>
                  <div class="actions dark">
                    <div class="dropdown">
                      <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                        <i class="la la-ellipsis-h"></i>
                      </button>
                      <div class="dropdown-menu" x-placement="bottom-start" style="display: none; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                        <a href="#" class="dropdown-item">
                          Report
                        </a>
                        <a href="#" class="dropdown-item">
                          Block
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
